.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 1em;
}

.navbar:first-child{
    padding-left: 20%;
}

.list{
    display: flex;
    list-style: none;
    align-items: center;
    padding-right: 15%;
}

.item{
    margin-right: 5em;
}

.item a{
    color: white;
    text-decoration: none;
}

.item a:hover{
    color: #FFBB33;
    text-decoration: none;
}